# Work around for some misconfigured virtualenv
# https://github.com/pre-commit/pre-commit/issues/1375
default_language_version:
  python: python3

fail_fast: false

ci:
  skip: [cargo-fmt, cargo-deny, cargo-check, cargo-clippy, sub-pre-commit]

repos:
  # Misc
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        exclude: ^moyopy/uv.lock
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-gfm
          - mdformat-myst
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos
  # Rust
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false # This makes it a lot faster
      - id: cargo-deny  # cargo install --locked cargo-deny
        name: cargo deny
        entry: cargo deny --all-features check --
        language: system
        pass_filenames: false
        stages: [manual]  # because it's slow
      - id: cargo-check
        name: cargo check
        entry: cargo check --all-features --all-targets --
        language: system
        pass_filenames: false
        types: [rust]
        stages: [manual]  # because it's slow
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --
        language: system
        pass_filenames: false
        types: [rust]
        stages: [manual]  # because it's slow
  # Python
  - repo: local
    hooks:
      - id: clear-notebook-output
        name: Clear Jupyter Notebook Outputs
        entry: jupyter nbconvert --clear-output --inplace
        language: python
        additional_dependencies: [jupyter]
        types: [jupyter]
        files: \.ipynb$
