name: label

on:
  pull_request:
    types: [opened, reopened, ready_for_review]

jobs:
  label:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/labeler@v6
        with:
          configuration-path: '.github/labeler.yaml'
