name: C binding CI

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - uses: cargo-bins/cargo-binstall@v1.15.10
      - name: Install cbindgen
        run: cargo binstall cbindgen --locked --no-confirm
      - name: Run tests
        run: |
          set -e
          cd moyoc && make tests
