name: Publish moyo-wasm to npm

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      dry_run:
        description: 'If true, perform a dry run without publishing'
        required: true
        type: boolean

permissions:
  contents: read
  id-token: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-pack
        uses: taiki-e/install-action@wasm-pack

      - name: Install test dependencies
        working-directory: moyo-wasm
        run: npm install

      - name: Run tests
        working-directory: moyo-wasm
        run: npm test # this also builds the wasm package to be published in next step

      - name: Publish to npm
        if: "startsWith(github.ref, 'refs/tags/') && ! inputs.dry_run"
        working-directory: moyo-wasm/pkg
        run: npm publish --access public
